In [9]:
%pip install pandas
import pandas as pd

Requirement already satisfied: pandas in c:\users\zehme\appdata\local\programs\python\python310\lib\site-packages (1.4.3)
Requirement already satisfied: pytz>=2020.1 in c:\users\zehme\appdata\local\programs\python\python310\lib\site-packages (from pandas) (2022.1)
Requirement already satisfied: numpy>=1.21.0 in c:\users\zehme\appdata\local\programs\python\python310\lib\site-packages (from pandas) (1.23.1)
Requirement already satisfied: python-dateutil>=2.8.1 in c:\users\zehme\appdata\local\programs\python\python310\lib\site-packages (from pandas) (2.8.2)
Requirement already satisfied: six>=1.5 in c:\users\zehme\appdata\local\programs\python\python310\lib\site-packages (from python-dateutil>=2.8.1->pandas) (1.16.0)
Note: you may need to restart the kernel to use updated packages.

In [10]:
df = pd.read_csv('train.csv')

In [11]:
df

            id                                               text  label
0      26418.0  Gerçekten sizin hikayelerinizi izleyerek mi ye...      0
1      14473.0            @USER Çoook çok bi baklava bi sen zaten      0
2      16107.0  1) Sn. DÜKEL; Atatürk'ün, Karma E. M. ile başl...      0
3      45908.0  Konfederasyonumuzun Aile ve Sosyal Politikalar...      0
4      12878.0  Hakemler tarih yazıyorlar / 9 kişiye karşı 3-2...      1
...        ...                                                ...    ...
42393      NaN  Takım otobüsüne saldırmak nedir ulan şerefini ...      1
42394      NaN  @nightmareess_ Aynı bu şekldiyedim ya  başlica...      1
42395      NaN  @prodbyjaysou @kkesbekes ya kaybol twitimden k...      1
42396      NaN  @82_6363AB Ben hdpliyim ve vermeyecem ama akp ...      1
42397      NaN                       Bi airdrop sapığı eksikti aq      1

[42398 rows x 3 columns]

In [12]:
df['text'] = df['text'].str.lower()
#remove the punctuation
df['text'] = df['text'].str.replace('[^\w\s]','')

C:\Users\zehme\AppData\Local\Temp\ipykernel_16672\2365508853.py:3: FutureWarning: The default value of regex will change from True to False in a future version.
  df['text'] = df['text'].str.replace('[^\w\s]','')

In [17]:
df = df.replace('user', '', regex=True)
df = df.replace('\d', '', regex=True)
df = df.replace(r'\bhttps?://\S+', '', regex=True)
df

            id                                               text  label
0      26418.0  gerçekten sizin hikayelerinizi izleyerek mi ye...      0
1      14473.0                  çoook çok bi baklava bi sen zaten      0
2      16107.0   sn dükel atatürkün karma e m ile başlattığı s...      0
3      45908.0  konfederasyonumuzun aile ve sosyal politikalar...      0
4      12878.0  hakemler tarih yazıyorlar   kişiye karşı  önde...      1
...        ...                                                ...    ...
42393      NaN  takım otobüsüne saldırmak nedir ulan şerefini ...      1
42394      NaN  nightmareess_ aynı bu şekldiyedim ya  başlicam...      1
42395      NaN  prodbyjaysou kkesbekes ya kaybol twitimden kod...      1
42396      NaN  _ab ben hdpliyim ve vermeyecem ama akp zaten s...      1
42397      NaN                       bi airdrop sapığı eksikti aq      1

[42398 rows x 3 columns]

In [18]:
#write the data to a csv file
df.to_csv('train_clean.csv', index=False)