In [9]:
%pip install pandas
import pandas as pd

Requirement already satisfied: pandas in c:\users\zehme\appdata\local\programs\python\python310\lib\site-packages (1.4.3)
Requirement already satisfied: pytz>=2020.1 in c:\users\zehme\appdata\local\programs\python\python310\lib\site-packages (from pandas) (2022.1)
Requirement already satisfied: numpy>=1.21.0 in c:\users\zehme\appdata\local\programs\python\python310\lib\site-packages (from pandas) (1.23.1)
Requirement already satisfied: python-dateutil>=2.8.1 in c:\users\zehme\appdata\local\programs\python\python310\lib\site-packages (from pandas) (2.8.2)
Requirement already satisfied: six>=1.5 in c:\users\zehme\appdata\local\programs\python\python310\lib\site-packages (from python-dateutil>=2.8.1->pandas) (1.16.0)
Note: you may need to restart the kernel to use updated packages.

In [10]:
df = pd.read_csv('train.csv')

In [11]:
df

            id                                               text  label
0      26418.0  Gerçekten sizin hikayelerinizi izleyerek mi ye...      0
1      14473.0            @USER Çoook çok bi baklava bi sen zaten      0
2      16107.0  1) Sn. DÜKEL; Atatürk'ün, Karma E. M. ile başl...      0
3      45908.0  Konfederasyonumuzun Aile ve Sosyal Politikalar...      0
4      12878.0  Hakemler tarih yazıyorlar / 9 kişiye karşı 3-2...      1
...        ...                                                ...    ...
42393      NaN  Takım otobüsüne saldırmak nedir ulan şerefini ...      1
42394      NaN  @nightmareess_ Aynı bu şekldiyedim ya  başlica...      1
42395      NaN  @prodbyjaysou @kkesbekes ya kaybol twitimden k...      1
42396      NaN  @82_6363AB Ben hdpliyim ve vermeyecem ama akp ...      1
42397      NaN                       Bi airdrop sapığı eksikti aq      1

[42398 rows x 3 columns]

In [12]:
df['text'] = df['text'].str.lower()
#remove the punctuation
df['text'] = df['text'].str.replace('[^\w\s]','')

C:\Users\zehme\AppData\Local\Temp\ipykernel_16672\2365508853.py:3: FutureWarning: The default value of regex will change from True to False in a future version.
  df['text'] = df['text'].str.replace('[^\w\s]','')

In [17]:
df = df.replace('user', '', regex=True)
df = df.replace('\d', '', regex=True)
df = df.replace(r'\bhttps?://\S+', '', regex=True)
df

            id                                               text  label
0      26418.0  gerçekten sizin hikayelerinizi izleyerek mi ye...      0
1      14473.0                  çoook çok bi baklava bi sen zaten      0
2      16107.0   sn dükel atatürkün karma e m ile başlattığı s...      0
3      45908.0  konfederasyonumuzun aile ve sosyal politikalar...      0
4      12878.0  hakemler tarih yazıyorlar   kişiye karşı  önde...      1
...        ...                                                ...    ...
42393      NaN  takım otobüsüne saldırmak nedir ulan şerefini ...      1
42394      NaN  nightmareess_ aynı bu şekldiyedim ya  başlicam...      1
42395      NaN  prodbyjaysou kkesbekes ya kaybol twitimden kod...      1
42396      NaN  _ab ben hdpliyim ve vermeyecem ama akp zaten s...      1
42397      NaN                       bi airdrop sapığı eksikti aq      1

[42398 rows x 3 columns]

In [18]:
#write the data to a csv file
df.to_csv('train_clean.csv', index=False)

In [21]:
df1 = pd.read_csv("turkish_tweets_2020.csv")

In [22]:
df

            id                                               text  label
0      26418.0  gerçekten sizin hikayelerinizi izleyerek mi ye...      0
1      14473.0                  çoook çok bi baklava bi sen zaten      0
2      16107.0   sn dükel atatürkün karma e m ile başlattığı s...      0
3      45908.0  konfederasyonumuzun aile ve sosyal politikalar...      0
4      12878.0  hakemler tarih yazıyorlar   kişiye karşı  önde...      1
...        ...                                                ...    ...
42393      NaN  takım otobüsüne saldırmak nedir ulan şerefini ...      1
42394      NaN  nightmareess_ aynı bu şekldiyedim ya  başlicam...      1
42395      NaN  prodbyjaysou kkesbekes ya kaybol twitimden kod...      1
42396      NaN  _ab ben hdpliyim ve vermeyecem ama akp zaten s...      1
42397      NaN                       bi airdrop sapığı eksikti aq      1

[42398 rows x 3 columns]

In [23]:
#read an xlsx file
df = pd.read_excel('Türkçe Nefret Söylemi Veriseti.xlsx')

In [24]:
df

,Sıra No,Anahtar Kelime,Tweet Sayısı,Son Etiket Sınıf Dağılımı,Unnamed: 4,Unnamed: 5,Nefret Söylemi Oranı (%),Tartışma Öncesi Uyuşum* (%),Tartışma Sonrası Uyuşum* (%),Tartışma Öncesi Farklı Tweet Sayısı,Tartışma Sonrası Farklı Tweet Sayısı
0,NaN,NaN,NaN,Nefret,Saldırgan,Hiçbiri,NaN,NaN,NaN,NaN,NaN
1,1,yahudi,1219.0,379,4,836,31.091058,90.0,99.1,122.0,11.0
2,2,ermeni,1218.0,451,24,743,37.027915,90.2,99.6,119.0,5.0
3,3,suriyeli,1217.0,395,21,801,32.456861,90.1,94.9,121.0,62.0
4,4,gavur,820.0,292,21,507,35.609756,91.3,98.5,71.0,12.0
5,5,arap,815.0,227,4,584,27.852761,93.0,97.4,57.0,21.0
6,6,yunan,813.0,197,7,609,24.231242,95.0,99.9,41.0,1.0
7,7,ingiliz,710.0,92,17,601,12.957746,92.3,98.7,55.0,9.0
8,8,rum/rumlar,516.0,112,4,400,21.705426,92.2,99.4,40.0,3.0
9,9,kürt,507.0,40,15,452,7.889546,89.5,95.3,53.0,24.0
10,10,hıristiyan/hristiyan,409.0,44,10,355,10.757946,94.6,99.3,22.0,3.0
11,11,çinli,309.0,28,2,279,9.061489,99.7,100.0,1.0,0.0
12,12,rus,210.0,5,6,199,2.380952,99.5,100.0,1.0,0.0
13,13,sırp,210.0,13,2,195,6.190476,98.6,100.0,3.0,0.0
14,14,ateist,210.0,16,9,185,7.619048,95.2,100.0,10.0,0.0
15,15,alevi,210.0,7,4,199,3.333333,96.2,99.0,8.0,2.0
16,16,müslüman,210.0,11,4,195,5.238095,94.8,98.6,11.0,3.0
17,17,kadın/kadınlar,210.0,3,3,204,1.428571,94.8,99.5,11.0,1.0
18,18,alman,206.0,9,3,194,4.368932,96.1,99.5,8.0,1.0
19,19,fransız,205.0,15,6,184,7.317073,96.1,99.5,8.0,1.0
20,NaN,TOPLAM,10224.0,2336,166,7722,22.848200,92.5,98.4,762.0,159.0
21,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
22,*Sınıf ve/veya altsınıf etiketinde farklılığa ...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN